In [1]:
# - Ordenar por orden de entrada
# - Ordenar por orden de salida
# - Asignar posiciones

In [2]:
import pandas as pd
data_path = "data.csv"
df = pd.read_csv(data_path)

In [4]:
df['Entrada'] = pd.to_datetime(df['Entrada'])
df['Salida'] = pd.to_datetime(df['Salida'])

In [5]:
df

,Name,Entrada,Salida
0,BRICENO LUNA JESSICA ARACELI,2024-07-14 07:15:00,2024-07-14 18:00:00
1,MARTINEZ PAZ ROCIO ESPERANZA,2024-07-14 09:00:00,2024-07-14 18:00:00
2,ZEVALLOS ZANCA VERONICA LUZ,2024-07-14 13:45:00,2024-07-14 22:45:00
3,YANQUI BRAVO MIRIAN LUZ,2024-07-14 07:00:00,2024-07-14 10:45:00
4,FLORES PAREDES LOURDES,2024-07-14 19:00:00,2024-07-14 22:45:00
5,MUÑOZ SOTOMAYOR MIRIAN RAQUEL,2024-07-14 14:45:00,2024-07-14 18:30:00
6,ALVITE CORNEJO ANGIE LUCERO,2024-07-14 12:15:00,2024-07-14 16:00:00
7,ILDEFONSO MOTTA JHOSSEP ANGELO,2024-07-14 12:30:00,2024-07-14 16:15:00
8,QUIQUIA MALLOQI CYNTHIA ANGELLINE,2024-07-14 11:15:00,2024-07-14 15:00:00
9,YAQUIPA MONTENEGRO VALERIA ESTEFANY,2024-07-14 07:00:00,2024-07-14 10:45:00
10,GARAGUNDO ESCALANTE JIESON PIERO,2024-07-14 10:00:00,2024-07-14 13:45:00
11,HUAMAN HUAMANI ALEXIS JAVIER,2024-07-14 06:30:00,2024-07-14 10:15:00

In [9]:
# - Ordenar por orden de entrada
df_sorted_by_entrada = df.sort_values('Entrada')
df_sorted_by_entrada

,Name,Entrada,Salida
11,HUAMAN HUAMANI ALEXIS JAVIER,2024-07-14 06:30:00,2024-07-14 10:15:00
3,YANQUI BRAVO MIRIAN LUZ,2024-07-14 07:00:00,2024-07-14 10:45:00
9,YAQUIPA MONTENEGRO VALERIA ESTEFANY,2024-07-14 07:00:00,2024-07-14 10:45:00
0,BRICENO LUNA JESSICA ARACELI,2024-07-14 07:15:00,2024-07-14 18:00:00
1,MARTINEZ PAZ ROCIO ESPERANZA,2024-07-14 09:00:00,2024-07-14 18:00:00
10,GARAGUNDO ESCALANTE JIESON PIERO,2024-07-14 10:00:00,2024-07-14 13:45:00
8,QUIQUIA MALLOQI CYNTHIA ANGELLINE,2024-07-14 11:15:00,2024-07-14 15:00:00
6,ALVITE CORNEJO ANGIE LUCERO,2024-07-14 12:15:00,2024-07-14 16:00:00
7,ILDEFONSO MOTTA JHOSSEP ANGELO,2024-07-14 12:30:00,2024-07-14 16:15:00
2,ZEVALLOS ZANCA VERONICA LUZ,2024-07-14 13:45:00,2024-07-14 22:45:00
5,MUÑOZ SOTOMAYOR MIRIAN RAQUEL,2024-07-14 14:45:00,2024-07-14 18:30:00
4,FLORES PAREDES LOURDES,2024-07-14 19:00:00,2024-07-14 22:45:00

In [ ]:
n_cajas = 5